.section-beranda {
  background-color: #f1f3ff;
}
.nav-link {
  color: black;
}
.badge {
  margin-left: 3px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.testimonials-text {
  padding: 50px 50px 75px;
  overflow: hidden;
  background: #f5f6fa;
  border: 1ps solid #f1f1f1;
  border-radius: 10px;
}

.testimonials-avatar h3 {
  font-weight: 600;
  color: black;
  font-size: 14px;
}
.testimonials-avatar h4 {
  font-weight: 400;
  font-size: 12px;
  color: black;
}
/* .testimonials-carousel .swiper-slide {
  height: 270px;
  width: 619px;
} */
.testi-avatar {
  align-self: center;
}

.testimonials-text p {
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
}

.card-sewa {
  background-color: #0d28a6;
}

.section-beranda {
  padding-top: 97px;
}

.ourservice {
  margin-top: 104px;
  margin-bottom: 100px;
}

.whyus {
  margin-top: 100px;
  margin-bottom: 100px;
}
.testi {
  /* margin-bottom: 100px; */
}
.checklist {
  margin-right: 16px;
}
.btn-dark {
  background-color: #0d28a6 !important;
}
.sosmed {
  width: 224px;
  height: 32px;
}
.footer {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar {
  background-color: #f1f3ff;
}
